@use '../partial/variable' as *;
@use '../partial/mixins' as *;
@use '../partial/common' as *;
/*---------------------------------------------
	#공통
---------------------------------------------*/
body {
    background-color:$background01;
}

.main-container {
    transition: transform 0.8s ease, width 0.8s ease;
    background-color:$background01;
}

.header {
    @include absolute($position:fixed, $right:0, $left:0);
    background-color:$white;
    z-index:1;
    .inner {
        height:100%;
        padding:0 20px;
    }
    .logo {
        display:inline-block;
        padding:10px 0;
        img {
            height:24px;
        }
    }
    .gnb {
        display:none;
    }
}

.content {
    .inner {
        padding:45px 20px 20px;
    }
    .title {
        padding:20px 0 10px;
        border-bottom:4px solid $background03;
        font-weight:$font-w-b;
        color:$color22;
        @include font-title;
    }
    .tex_wrap {
        padding-top:40px;
    }
    .txt_list {
        padding:20px;
        border:1px solid $border02;
        border-radius:10px;
        background-color:$background02;
    }
}

/*---------------------------------------------
	#모바일
---------------------------------------------*/
.mobile-preview {
    max-width: 375px !important;
    margin:150px auto 0;
    border:1px solid $border02;
    border-radius:20px;
    &::before {
        content:"";
        @include absolute ($position:absolute, $top:0, $right:0, $left:0);
        display:block;
        @include wh (100%, 20px);
        border-radius:20px 20px 0 0;
        background-color:#00000024;
    }
    /*---헤더---*/
    .header {
        height:60px;
        min-height:60px;
        .gnb {
            display:inline-block;
            z-index:1;
            .menu_btn {
                display:block;
                @include wh (30px, 30px);
                font-size:0;
                background-image:url("../../images/menu.svg");
                &.close {
                    display:none;
                }
            }
            ul {
                @include absolute ($position:absolute, $top:0, $right:-270px);
                display:none;
                width:160px;
                padding:20px;
                border-radius:10px 0 0 10px;
                background-color:$background02;
                z-index:1;
            }
            li {
                width:100%;
                padding-bottom:5px;
                border-bottom:1px solid $border02;
            }
            &.on {
                position:relative;
                @include wh (100%,100%);
                .menu_btn {
                    display:none;
                    &.close {
                        @include absolute ($position:absolute, $top:0, $right:0);
                        display:block;
                        @include icon (30px, 30px);
                        background-image:url("../../images/close.svg");
                        z-index:1;
                    }
                }
                ul {
                    @include absolute ($position:absolute, $top:0, $right:-21px);
                    display:flex;
                    flex-direction:column;
                    gap:15px;
                    li:hover {
                        a {
                            color:$primary;
                        }
                        border-bottom:2px solid $primary;
                    }
                }
            }
        }
    }
}

/*---------------------------------------------
	#테블릿
---------------------------------------------*/
.tablet-preview {
    max-width: 768px !important;
    margin: 0 auto;
    .wrap {
        padding-top:52px;
    }
    /*---헤더---*/
    .header {
        height:70px;
        min-height:80px;
    }

    /*---content---*/
    .content {
        .inner {
            padding-top:70px;
        }
    }
}



/*---------------------------------------------
	#테블릿(portrait)
---------------------------------------------*/
.tablet-portrait-preview {
    max-width: 600px !important;
    margin: 0 auto;
    .wrap {
        padding-top:52px;
    }
    /*---헤더---*/
    .header {
        height:64px;
        min-height:64px;
    }

    /*---content---*/
    .content {
        .inner {
            padding-top:80px;
        }
    }
}



/*---------------------------------------------
	#desktop
---------------------------------------------*/
.desktop-preview {
    max-width: 1200px !important;
    margin: 0 auto;
    .wrap {
        padding-top:52px;
    }
    /*---헤더---*/
    .header {
        height:80px;
        min-height:80px;
    }
}

/*---content---*/
.content {
    .inner {
        padding-top:80px;
    }
}