@use '../partial/variable' as *;
@use '../partial/mixins' as *;
@use '../partial/common' as *;

/*---------------------------------------------
	#모바일
---------------------------------------------*/
@media (max-width: 767px) {
    /*---content---*/
    .main-container {
        .wrap {
            padding-top:0;
        }
        /*---헤더---*/
        .header {
            @include absolute($position:fixed, $right:0, $left:0);
            height:60px;
            min-height:60px;
            background-color:$white;
            z-index:1;
            .inner {
                display:flex;
                align-items:center;
                justify-content:space-between;
                height: 100%;
                padding:0 20px;
            }
            .logo {
                display:inline-block;
                padding:10px 0;
                img {
                width:140px;
                }
            }
        }
        /* introduce */
        .introduce_wrap {
            .tex_wrap {
                flex-direction:column;
            }
        }
        .tex_wrap {
            .profile_box {
                flex-direction:row;
                gap:20px;
                width:100%;
                padding:10px 20px;
            }
            .profile {
                @include wh (100px,100px);
                img {
                    @include wh (100%, 100%);
                }
            }
            .profile_tit {
                width:calc(100% - 120px);
                padding-top:0;
                margin-top:0;
                border-top:0;
                border-left:2px solid $border02;
                li {
                    display:inline-block;
                    padding:0;
                    margin:0 10px;
                    font-weight:$font-w-b;
                }
            }
        }
    }
}