/*---------------------------------------------
	#변수 지정하기
---------------------------------------------*/
/***************** 폰트 *****************/
/* font-weight */
$font-w-r:400;
$font-w-m:500;
$font-w-b:600;
$font-w-e:700;
$font-w-h:800;

/***************** 색상 *****************/
/* text color */
$title: #222222;
$content: #454545;
$secondary: #757575;
$text-disabled: #999999;